<div id="step-4" class="content-step">
        <h2>Step 4 - Optional Extras</h2>

        <ol class="btn-radios-list">
            <li>
              <label>
                <input type="checkbox" name="optional-extras" value="handles" ng-model="formData.optional.value1">
                <span class="btn btn-radio">
                  Handles<br>&pound;0.10 per box
                </span>
              </label>
            </li>
            <li>
              <label ng-init="model = { value: '1'}">
                <input type="checkbox" name="optional-extras" value="reinforced-bottom" ng-model="formData.optional.value2"
                       ng-disabled = "formData.cardboardGrade != 'A'" >
                <span class="btn btn-radio">
                  Reinforced bottom<br>&pound;0.05 per box<br>
                  <small id="info" highlight-error model="model">(only available with grade A cardboard)</small>
                </span>
              </label>
            </li>
        </ol>

        <div class="form-actions">
            <button type="button" class="btn btn-back" ui-sref="form.step3">
              back
            </buttton>
            <button type="submit" class="btn btn-primary btn-next" ui-sref="form.total" ng-click = "countTotal();">
              Finish
            </buttton>
        </div>
</div>
